<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.med">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_doctor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_doctor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MedicineActivity"></activity>
        <activity android:name=".ResultsActivity" />
        <activity android:name=".Activity12" />
        <activity android:name=".Activity11" />
        <activity android:name=".Activity10" />
        <activity android:name=".Activity9" />
        <activity android:name=".Activity8" />
        <activity android:name=".Activity7" />
        <activity android:name=".Activity6" />
        <activity android:name=".Activity5" />
        <activity android:name=".Activity4" />
        <activity android:name=".Activity3" />
        <activity android:name=".Activity2" />
        <activity android:name=".Activity1" />
        <activity android:name=".DustActivity" />
        <activity android:name=".HealthActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".MaskActivity" />
        <activity android:name=".CovidActivity" />
        <activity android:name=".AidActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>